

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background-color: #7b5aff; 
    color: white;
    font-family: 'Open Sans', Arial, sans-serif;

  }
  
  .top-right {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  
  .login {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    color:#3903b6;
  }
  
  .content-center {
    text-align: center;
    width: 100%;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem; 
    margin-bottom: 1rem; 

  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem; 
  }
  
  .button {
    width: 200px;
  }
  
  .generate-button {
    width: 200px;
    margin-top: 1rem; 
  }
  
  input {
    width: 200px;
  }

  .title {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  